<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
      <div class="mdl-logo footer-logo color-yellow footer-font-size_left">{{ site.name }}</div>
  </div>
  <div class="mdl-mini-footer__right-section">
      <span class="font-styled margin-side color-yellow footer-font-size_right">{{ site.email }}</span>
      <a href="https://github.com/{{ site.github_username }}"><i class="fa-brands fa-github margin-side color-yellow" aria-hidden="true"></i></a>
  </div>
</footer>
