<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
      <div class="mdl-logo footer-logo color-yellow footer-font-size_left">© {{ site.name }} 2022-2023</div>
  </div>
  <div class="mdl-mini-footer__right-section">
      <!-- <span class="font-styled margin-side color-yellow footer-font-size_right">{{ site.email }}</span> -->
      <a href="/contact"><i class="fa-solid fa-envelope margin-side color-yellow"></i></a>
      <a href="https://www.linkedin.com/in/{{ site.linkedin_endurl }}"><i class="fa-brands fa-linkedin margin-side color-yellow" aria-hidden="true"></i></a>
      <a href="https://github.com/{{ site.github_username }}"><i class="fa-brands fa-github margin-side color-yellow" aria-hidden="true"></i></a>
  </div>
</footer>
